<h1>Produtos</h1>
<br>

<!-- acesso à flash hash, ela usará notice em caso de sucesso e
  alert em caso de falha-->
<p><%= notice %></p>
<p><%= alert %></p>
<br>

<% @products.each do |st| %>
  <p>Nome: <%= st.name %></p>
  <p>Quantidade: <%= st.quantity %></p>
  <p>Validade: <%= st.validity %></p>
  <p>Fornecedor: <%= st.provider %></p>
  <!-- link_to admite classes css utilizando class: -->
  <%= link_to "(Excluir produto)", destroy_product_path(id: st.id), method: :delete,
  data: { confirm: "Tem certeza que deseja excluir?" } %>
  <!-- data confirm cria um prompt javascript de confirmação -->
  <br>
<% end %>
